.entries {
  overflow: auto;
  max-height: 500px;
  height:500px;
  flex: 70%;
  padding: 0rem 3rem;
  max-width: 70%;
  table {
    width:100%;
    h2{margin:0px;}
    td,
    th {
        border-collapse: collapse;
    }
    th {
        border-bottom: 1px solid #f4511e;
        background-color: #fff !important;
        padding: 1rem;
    }
    td {
        border-bottom: 1px solid #e3e4e5;
        background-color: #fff !important;
        padding: 1rem;
    }
    p {
        margin: 0px;
        color: #96999b;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    h4 {
        margin: 0px;
        text-transform: capitalize;
    }
} 
}



@media only screen and (max-width: 768px) {
    .entries{
        flex:90%;
        border-radius:5px;
        max-width: 90%;
        padding:0rem 1rem;        
    }
}
