.hasError{
	border: 1px solid #ed7b7b;
}
.login-modal {
	.hasError{
		border: 1px solid #ed7b7b;
	}
}
.custom-a{
	color:#f4511e;
	text-decoration: none;
}
.no-deco{
	text-decoration: none;
}
.my_modal_content {
	position: relative;
	background-color: #fefefe;
    margin: auto;
    top:100px;
    border-radius:5px;
	padding: 0;
	width:320px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatezoom;
	animation-duration: 0.4s
}

/* Modal Body */
.modal-body{
	padding: 30px 16px;
}
.hasError {
	border: 1px solid #ed7b7b;
}
.login-modal input[type=text],input[type=password],input[type=email]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius:25px;	
}
.my_modal a{
	font-size:13px; 
	color:#F4511E;
}
.login-button{
	background-color: #151513;
	color: #fff;
	padding: 10px 0px;
	margin: 8px 0;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	width: 100%;
	font-size:20px;
}
.modal-footer {
	background-color: #fefefe;
	margin: auto;
} 
.modal-footer span {
	color:#1F9BC9;
} 
@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
	
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}


@media only screen and (max-width: 992px) {
.my_modal_content {
	top:30px;
	padding: 0;
	width:320px;
}
}

@media only screen and (max-width: 768px) {
.my_modal_content {
	top:30px;
	padding: 0;
	width:300px;
}
}